body{
    margin: 0px;
    padding: 0px;
    background: rgb(238, 234, 234);
}

.logo{
    display: flex;
    justify-content: space-between;
    color: blue;
    margin-left: 10px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu a{
    margin-left: 50px;
    text-decoration: none;
}
.cajanegra{
    padding: 10px;
    border: 2px solid black;
}


.imagen{
    background-image: url(../img/img1.jpeg); 
    margin: 10px;   
}
.titulo{
    text-align: center;
}
.titulo h1{
    color: rgb(78, 78, 214);
}
.titulo p{
    color: grey;
}
.titulo .linea{
    color: red;
}

.doctores{
    margin-top: 100px;
    text-align: center;
}
.doctores h1{
    color: blue;
}
.doctoresfotos{
    display: grid;
    justify-content: center;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
}
.doctor{
    margin: 20px;
    box-shadow: 3px 3px 10px grey;
}
.doctor img{
    width: 100%;
    height: 500px;
}
.doctor p{
    padding: 10px;
    text-align: center;
}

.quienessomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fotoabout img{
    width: 100%;
}
.about{
    align-items: center;
    text-align: center;
    padding: 50px;
    background: white;
}
.about h1{
    color: blue;
}
.about p{
    color: grey;

}

.subs{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.submit{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
}
.submit input{
    padding: 20px;
    border: none;
    margin-bottom: 20px;
}
.submit button{
    padding: 20px;
    margin-left: 180px;
    margin-right: 180px;
}

.footer{
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconos{
    display: flex;
}
.iconos i{
    margin-left: 20px;
    size: 7x;
}
.menufooter{
    display: flex;
}
.menufooter p{
    margin-left: 20px;
}
