body{
    margin: 0px;
    padding: 0px;
    background: rgb(238, 234, 234);
}

.logo1{
    display: none;
}
.logo{
    display: flex;
    justify-content: space-between;
    color: blue;
    margin-left: 10px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu a{
    margin-left: 50px;
    text-decoration: none;
}
.cajanegra{
    padding: 10px;
    border: 2px solid black;
}

.imagen{    
    padding: 300px;
    background: url("../img/clinicainicio.png"); 
    background-size: cover;     
    background-repeat: no-repeat;
}
.cosas{
    text-align: center;
}
.cosas h1{
    color: rgb(7, 7, 44);
    font-weight: bold;
}
.cosas p{
    color: rgb(34, 26, 26);
    font-weight: bold;
}
.hr1{
    height: 10px;
    width: 5%;
    background-color: blue;
    border: none;
}
.hr2{
    height: 3px;
    width: 5%;
    background-color: blue;
    border: none;
}
.hr3{
    height: 3px;
    width: 5%;
    background-color: blue;
    border: none;
}
.hr4{
    height: 3px;
    width: 10%;
    background-color: blue;
    border: none;
}


.doctores{
    margin-top: 100px;
    text-align: center;
}
.doctores h1{
    color: blue;
}
.doctoresfotos{
    display: grid;
    justify-content: center;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
}
.doctor{
    margin: 20px;
    box-shadow: 3px 3px 10px grey;
}
.doctor img{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
.doctor p{
    padding: 10px;
    text-align: center;
}

.quienessomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fotoabout img{
    width: 100%;
}
.about{
    align-items: center;
    text-align: center;
    padding: 50px;
    background: white;
}
.about h1{
    color: blue;
}
.about p{
    color: grey;
    text-align: justify;
}

.subs{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.subs h1{
    color: blue;
}
.subs p{
    color: grey;
}
.submit{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
}
.submit input{
    padding: 20px;
    border: none;
    margin-bottom: 20px;
}
.submit button{
    padding: 20px;
    margin-left: 180px;
    margin-right: 180px;
}

.footer{
    background: white;
    padding: 20px;
}
.caja{
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.caja img{
    height: 80px;
    border-radius: 80px;
    margin-right: 8px;
    box-shadow: 3px 3px 10px grey;
}
.footer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconos{
    display: flex;
    margin: 50px;
    align-items: center;
}
.iconos i{
    margin-left: 20px;
    font-size: 30px;
}
.menufooter{
    display: flex;
}
.menufooter p{
    color: blue;
    margin-left: 20px;
}

@media (max-width: 1020px){
    .logo1{
        padding: 20px;
        display: flex;
        flex-direction: row-reverse;
    }
    .subs{
        align-items: center;
    }
    .submit{
        margin-left: 50px;
        margin-right: 50px;
    }
    .submit button{
        margin-left: 50px;
        margin-right: 50px;
    }
    .footer2{
        display: flex;
        flex-direction: column-reverse;
    }
    .menufooter{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .quienessomos{
        display: flex;
        flex-direction: column;
    }
    .doctoresfotos{
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: none;
    }
    .imagen{
        padding: 200px;
        background: url("../img/clinicainicio.png");     
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cosas{
        text-align: center;
    }
    .cosas h1{
        color: blue;
    }
    .cosas p{
        color: #fff;
    }
}