.container{
    margin: 10px;
}
.logo{
    display: flex;
    justify-content: space-between;
    color: blue;
}
.menu{
    display: flex;
    align-items: center;
}
.menu h5{
    margin-left: 50px;
}
.imagen{
    background-image: url(../img/incio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}